.thumbmail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

#indexImage {
	height: 175px;
	width: 100%;
}

#delete-form {
	display: inline;
}

.checked {
	color: orange;
}
